@font-face {
  font-family: "roboto";
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tobe{
  color: #ffffff3f;
}

body {
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #e4e6eb;
}

body::-webkit-scrollbar-thumb {
  background-color: #f1a111;
  border-radius: 20px;
}

.mt-7 {
  margin-top: 70px;
}

.h20vh {
  width: 100%;
}

.h90vh img {
  width: 100%;
  object-fit: cover;
}

.active-tab {
  background-color: #f1a111;
  color: #ffffff;
}

.tokos{
  color: #00000033;
}

#menu-visible {
  display: flex;
}

.slider-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000008a;
  color: #fff;
  font-size: 0.5rem;
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h90 {
  height: 70vh;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  .header__left-side .logo button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: transparent;
  }

  .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 69px;
    display: none;
    flex-direction: column;
    background-color: #20232a;
  }

  .menu li {
    width: 100%;
    height: 70px;
    border-radius: 0 !important;
  }

  .menu li:hover ~ a {
    justify-content: center;
  }

  .header__left-side #menu-hidden {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  .header__right-side input {
    width: 150px;
    font-size: 0.9rem;
  }
  .header__right-side button {
    width: 90px;
  }
  .header__left-side .logo {
    width: 40px;
  }
  .header__left-side .logo .image {
    display: none;
  }
}

@media screen and (max-width: 346px) {
  h1 {
    font-size: 1rem;
  }
  .header__right-side input {
    width: 100px;
    font-size: 0.9rem;
  }
}
